<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DomainRetrieve.Properties.Settings.SumestConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Sumest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>